@import "../../app.config";

:host ::ng-deep {
  border: 1px solid rgba(0,0,0,0.5);
  width: 21cm;
  height: 29.7cm;
  overflow-y: hidden;

  background-color: #FFF;

  display: grid;
  position: relative;

  grid-template-columns:
    auto
    33.5%;

  grid-template-rows:
    minmax(min-content, max-content)
    minmax(min-content, max-content)
    auto
    minmax(min-content, max-content);

  grid-template-areas:
    "header header"
    "subheader subheader"
    "content sidebar"
    "footer footer";

  .header {
    position: relative;
    grid-area: header;
    border-bottom: 2px solid $hin_txt;
    background-color: $prm;

    margin-bottom: .5cm;

    width: 100%;
    min-height: 2.25cm;
  }

  .footer {
    grid-area: footer;
  }

  .subheader {
    grid-area: subheader;
  }

  .subheader, .footer {
     min-height: 46px;
     width: 100%;
     padding: 10px;
     background-color: $prm;
   }

  .sidebar {
    grid-area: sidebar;
    padding: 0 0 0 .5cm;
    margin: 0 .5cm .5cm 0;
    border-left: 3px solid $div_txt;
  }

  .content {
    grid-area: content;
    padding: 0 .75cm 0 .5cm;
    margin: 0 0 .5cm .5cm;
  }

  .sidebar, .content {
    border-left: 3px solid $div_txt;
  }
}

:host ::ng-deep {
  .heading, .heading a {
    color: $div_txt;
    text-transform: uppercase;
    font-family: 'LeagueGothic', 'Helvetica', Helvetica, sans-serif;
    letter-spacing: .5px;
  }

  a {
    text-decoration: none;
    font-family: inherit;
  }

  .header .heading {
    color: #FFF;
    position: absolute;
    font-size: 625%;
    letter-spacing: 1px;
    transform: translate(10px,30px);
    bottom: 0;
    left: 0;
  }

  h3.heading img {
    height: 13px;
    width: auto;
  }

  ul {
    list-style: none;

    .heading strong, h2.heading {
      color: $prm;
      font-weight: inherit;
    }
  }
}

:host ::ng-deep .subheader,
:host ::ng-deep .footer {
     ul {
       text-align: center;

       li {
         margin: 0 10px;
         &:first-of-type {
           margin-left: 0;
         }
         &:last-of-type {
           margin-right: 0;
         }
       }
       li, i.fas, i.fab, .heading, .heading a {
         display: inline;
         vertical-align: center;
       }

       i.fas, i.fab, .heading, .heading a {
         color: #FFF;
         letter-spacing: 1px;
         margin-left: 5px;
       }
     }
 }

:host ::ng-deep .block ul {
  h1.heading, h1.heading a {
    transform: translateX( calc(-.75cm - 4px) );
    background-color: #FFF;
    padding: 0.35cm 0 0.25cm 0;
  }

  h2.heading, h2.heading a {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: -0.5cm;
      top: 50%;
      transform: translateY(-50%);

      width: 0;
      height: 0;

      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid $div_txt;
    }
  }
}

:host ::ng-deep .block ul li {
  margin: 0 0 .25cm;
  &:last-of-type {
    margin-bottom: 0;
  }

  ul li ul li {
    position: relative;

    margin: .10cm 0;
    padding-top: 0px;
    padding-left: 0.6cm;


    &:before {
      content: '+';

      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      color: $sec;

      font-weight: 100;
      font-size: 210%;
      line-height: 1;

    }
  }
}

:host ::ng-deep .sidebar ul {
  li {
    ul li {
      margin: 0.25cm 0 0;
    }

    h2.heading {
      border-bottom: 3px solid $sec;
      margin-bottom: .25cm;
    }

    h4.heading {
      display: inline-block;
      width: 50%;

      padding: .05cm 0;

      &:nth-of-type(2n) {
        text-align: right;
      }

      strong {
        position: relative;
        color: $prm;

        &:after{
          position: absolute;
          font-family: 'Font Awesome 5 Free';
          font-size: 9px;
          content: "\f111";
          transform: translate(-1px,-2px);
          text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
          color: $sec;
        }
      }
    }

    &:first-of-type {
      margin: 0;
    }
  }
}

@media print {
  :host {
    border: 0;
  }
}
