$prm: #0D328F;
$sec: #15A3CE;
$acc: #ffc247;

$prm_txt: rgba(0,0,0,.87);
$sec_txt: rgba(0,0,0,.54);
$hin_txt: rgba(0,0,0,.38);
$div_txt: rgba(0,0,0,.12);

$prm_txt_inv: rgba(255,255,255,1);
$sec_txt_inv: rgba(255,255,255,.7);
$hin_txt_inv: rgba(255,255,255,.5);
$div_txt_inv: rgba(255,255,255,.12);
