$prefix_all: -webkit-, -moz-, -ms-, -o-, '';
$prefix_no_ms: -webkit-, -moz-, -o-, '';
$prefix_no_o: -webkit-, -moz-, -ms-, '';
$prefix_no_ms_o: -webkit-, -moz-, '';
$prefix_no_ms_o_moz: -webkit-, '';

$font-path: '~/assets/fonts';
